// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #ff7700; // Site main color - (Основний колір сайту)
	--secondary: #fdc28e; // Site secondary color - (Додатковий колір сайту)
	--secondary-active: #ffb677; // Site secondary color - (Додатковий колір сайту)
	--accent: #fc5c00; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	--inverse: #4e4e50; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)
	--error: #ff1c60;

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #1a1a1d; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #38383e; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #444444; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #fbfffe; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #38383e; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #fc5c00; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	// --text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================
}
